.parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px 500px 200px;
  height: 1000px;
  grid-template-areas:
    "header nav"
    "main aside"
    "footer footer";
}

header,
nav,
main,
aside,
footer {
  margin: 10px;
}

header {
  background-color: salmon;
  grid-area: header;
}
nav {
  background-color: lightblue;
  grid-area: nav;
}
main {
  background-color: lightcoral;
  grid-area: main;
}
aside {
  background-color: lightgreen;
  grid-area: aside;
}
footer {
  background-color: lightseagreen;
  grid-area: footer;
}

@media (min-width: 1024px) {
  .parent {
  grid-template-columns: 30px 1fr 200px 30px;
  grid-template-rows: 200px 100px 1fr 100px;
  grid-template-areas:
    "header header"
    "nav nav"
    "main aside"
    "footer footer";
    


